/* Style Guide 
  * Primary color: White
  * Secondary color: slategrey
  * Accent color: silver/grey
*/

body {
  margin: 0;
  top: 0;
}

nav {
  background: lightslategrey;
  padding: 0 20px 0 0;
  display: flex;  
  justify-content: flex-end;
  font-family: 'Raleway', sans-serif;
}

nav h1 {
  flex-grow: 1;
}

nav a:link,
nav a:visited {
  color: white;
  text-decoration: none;
  padding: .5em;
  margin: .5em;
}

nav a:focus {
  color: silver;
}

nav a:hover, 
nav a:active {
  color: silver;
}

@media screen and (max-width: 480px) {
  
  nav, main, .container {
    flex-direction: column;
  }
    .selfportrait img {
  float: inherit;
}
}

@media screen and (max-width: 700px) {
    .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 970px) {
  
  main {
    flex-direction: column;
    align-items: center;
    width: 1fr;
  }
}


#bg {
  background: lightslategrey;
  
  position: absolute;
  height: 400px;
  width: 100%;
}

.name {
  color: white;
  text-align: center;
}

.introname {
  font-size: 3em;
  position: relative;
  top: 100px;
  padding: 0 0 10px 0;
}

.dc {
  font-size: 1em;
  color: silver;
  position: relative;
  top: 60px;
}

hr {
  color: white;
  width: 30%;
  display: flex;
  position: relative;
  top: 60px;
}

.welcome {
  font-size: 1em;
  color: silver;
  position: relative;
  top: 60px;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

main p {
    color: slategrey;
    font-family: 'Open Sans';
      column-count: 2;
    column-width: 300px;
  column-span: all;
}

#aboutme, .container {
  position: relative;
  top: 400px;
  display: flex;
  padding: 15px;
  justify-content: center;
}

.about {
  font-size: 1.5em;
  color: dimgrey;
}

.selfportrait img {
  margin: 40px 0 40px 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}



.icon {
  width: 50px;
  height: 50px; 
  filter: invert(100);
  padding: 10px 0 0 0;
}


.item {
	padding: 15px;
	margin: 5px;	
	background: lightslategrey;
	border-radius: 3px;
  text-align: center;
}

.item h3 {
  color: white;
  padding: 0 0 -50px 0;
}

.item p {
  font-family: 'Open Sans';
  color: silver;
  font-size: .9em;
  padding: 20px;
}



.portimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid {
  width: 300px;
  height: 300px;
  margin: 5px;
  background: slategrey;
  position: relative;
  top: 430px;
  transition: .5s ease-in-out;
}

.grid img {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.grid .hovinfo {
  position: absolute;
  top: -10px;
  left: 10px;
}

.grid h1 {
  color: white;
  text-shadow: 1px 1px 10px dimgrey;
}

.animtext {
  color: white;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.grid:hover img {
  opacity: 0.1;
}

.grid:hover .animtext {
  opacity: 1;
}