/* Style Guide 
  * Primary color: White
  * Secondary color: slategrey
  * Accent color: silver/grey
*/

body {
  margin: 0;
  top: 0;
}

nav {
  background: lightslategrey;
  display: flex;  
  justify-content: flex-end;
  font-family: 'Raleway', sans-serif;
}

nav h1 {
  flex-grow: 1;
}

nav a:link,
nav a:visited {
  color: white;
  text-decoration: none;
  padding: .5em;
  margin: .5em;
}

nav a:focus {
  color: silver;
}

nav a:hover, 
nav a:active {
  color: silver;
}

@media screen and (max-width: 480px) {
  
  nav {
    flex-direction: column;
  }
  
  main {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  
  main {
    flex-direction: column;
  }
}


#bg {
  background: lightslategrey;
  background: nonlinear-gradient(to , #1c92d2, #f2fcfe);
  
  position: absolute;
  height: 400px;
  width: 100%;
}

.name {
  color: white;
  text-align: center;
}

.introname {
  font-size: 3em;
  position: relative;
  top: 100px;
}

.dc {
  font-size: 1em;
  color: silver;
  position: relative;
  top: 60px;
}

hr {
  color: white;
  width: 30%;
  display: flex;
  position: relative;
  top: 60px;
}

.welcome {
  font-size: 1em;
  color: silver;
  position: relative;
  top: 60px;
}

h1, h2, h3, a {
  font-family: 'Raleway', sans-serif;
}

p {
    color: slategrey;
    font-family: 'Open Sans', ;
      column-count: 2;
    column-width: 300px;
  column-span: all;
}

#aboutme {
  position: relative;
  top: 400px;
  display: flex;
  padding: 15px;
  justify-content: center;
}

.about {
  font-size: 1.5em;
  color: grey;
}

.selfportrait img {
  margin: 0 0 0 15px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}


